.tasks-header .links {
  text-align: right;
  font-size: 0.8em;
}
.tasks-header .date {
  text-align: right;
  font-size: 0.8em;
  padding-top: 0.3em;
}

.task-list tr.even {
  background-color: #fff;
}
/*.task-list th {
  background-color: #f0f0f0;
}*/
.task-list td.task-column-summary {
  width: 200px;
}
.task-list td.task-column-progress {
  text-align: center;
  font-weight: bold;
}
.task-section-pastdue .task-list td.task-column-due {
  color: red;
}
.task-list table {
  width: 100%;
}
.task-list td {
  padding: 0.4em 0.1em;
  vertical-align: top;
}

.task-form-date {
  width: 230px;  
}
.task-form-date div.form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.task-form-cal {
  padding-top: 1.4em;
}

.task .task-legend {
  color: #888;
/*  font-style: italic;*/
  font-weight: bold;
}

.task-details tr {
  border: 0;
  background-color: #fff;
}

.task-changelog .task-changelog-changed {
  background-color: #f0f0f0;
}
.task-changelog-changes tr {
  border: 0;
  background-color: #fff;
}